<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} | StudyOn</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column justify-content-between">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                        <svg width="40" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 128 128"><text y="1.2em" font-size="22">⚫️</text><text y="1.3em" x="0.2em" font-size="18" fill="#fff">sf</text></svg>
                    </a>
                </div>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2">Главная</a></li>
                    <li><a href="{{ path('app_course_index') }}" class="nav-link px-2">Курсы</a></li>
                    <li><a href="#" class="nav-link px-2">Категории</a></li>
                </ul>

                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-primary me-2">Вход</button>
                    <button type="button" class="btn btn-primary">Регистрация</button>
                </div>
            </header>
            <div class="row">
                <div class="col-7">
                    <h1 class="h2 mb-4">{% block h1 %}{% endblock %}</h1>
                </div>
                <div class="col-5">
                    <div class="d-flex justify-content-end">
                        {% block action %}{% endblock %}
                    </div>
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="mb-3 mb-md-0 text-body-secondary">© 2024 {{ 'project.author'|trans }}</span>
                </div>
            </footer>
        </div>
    </body>
</html>
